
				<div id="headerContentBottom">
					<h1>Welcome</h1>
					<h3>Please Log In! Cloud Library is awaiting you...</h3>
				</div>
			</div>
		</div>
		
		<div id="mainContent">
			<div id="mainContentTop">
				<p>Welcome to the new age of going to the library.  Why have librarians when you can do everything they do?  This is what CloudLibrary is about! Simply browse books, check out, check in and check the status.  </p>
			</div>
			<div id="mainContentBottom">
	
				<%= form_tag sessions_path do %><%= token_tag(nil) %>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email]%>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p class="button"><%= submit_tag "Log in" %></p>
<% end %>
			
			</div>
			
		</div>


