<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Book Title" %><br />
    <%= f.text_field :bookTitle %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label "Book Description" %><br />
    <%= f.text_field :bookDescription %>
  </div>
  <div class="field">
    <%= f.label :isbn %><br />
    <%= f.number_field :isbn %>
  </div>
  <div class="field">
    <%= f.label :userName %><br />
    <%= f.text_field :userName,:value=> '',:readonly => true %>
  </div>
  <div class="field">
    <%= f.label "Signout Date"%><br />
    <%= f.date_select :signOutDate %>
  </div>
  <div class="field">
    <%= f.label "Due Date" %><br />
    <%= f.date_select :dueDate, :default => Time.now + 1.month, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label "Late Fee" %><br />
    <%= f.number_field :lateFee,:value => 0,:readonly => true %>
  </div>
  <div class="field">
    <%= f.label :usertype %><br />
    <%= f.number_field :usertype,:value => 0,:readonly => true %>
  </div>
  <div class="field">
    <%= f.label :onHold %><br />
    <%= f.check_box :onHold %>
  </div>
  <div class="field">
    <%= f.label :overDue %><br />
    <%= f.check_box :overDue %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
