<h1>Available books</h1>

<table>
  <tr>
    <th>Book title</th>
    <th>Author</th>
    <th>Book description</th>
    <th>Isbn</th>
    
    
    <th></th>
    <% if current_user%>
     <% if current_user.category ==1%>
    <th></th>
    <% end %>
    <% end %>

  </tr>

<% @books.each do |book| %>
 <% if book.userName ==''%>
  <tr>
    <td><%= book.bookTitle %></td>
    <td><%= book.author %></td>
    <td><%= book.bookDescription %></td>
    <td><%= book.isbn %></td>
    
    
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
   <% if current_user%>
    <% if current_user.category ==1%>
    <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  	<% end%>
  <% end%>
  </tr>
<% end %>
<% end%>
</table>

<br />


