<h1>Listing books</h1>

<table>
  <tr>
    <th>Book title</th>
    <th>Author</th>
    <th>Book description</th>
    <th>Isbn</th>
    <th>User name</th>
    <th>Signout date</th>
    <th>Due date</th>
    <th>Late fee</th>
    <th>Category</th>
    <th>On hold</th>
    <th>Over due</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
 <% if book.userName ==''%>
  <tr>
    <td><%= book.bookTitle %></td>
    <td><%= book.author %></td>
    <td><%= book.bookDescription %></td>
    <td><%= book.isbn %></td>
    <td><%= book.userName %></td>
    <td><%= book.signOutDate %></td>
    <td><%= book.dueDate %></td>
    <td><%= book.lateFee %></td>
    <td><%= book.category %></td>
    <td><%= book.onHold %></td>
    <td><%= book.overDue %></td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<% end%>
</table>

<br />

<%= link_to 'New Book', new_book_path %>
