<div id="headerContentBottom">
					<h1>Available Books</h1>
					<h3>Browse Books</h3>
				</div>
			</div>
		</div>	
		<div id="mainContent">
			<div id="mainContent-left">
				<h3>Available books</h3>
				<div id="dashboard">
					<table>
					  <tr>
					    <th>Book title</th>
					    <th>Author</th>
					    <th>Book description</th>
					    <th>Isbn</th>
					    
					    
					    <th></th>
					    <% if current_user%>
					     <% if current_user.email == "admin@cloud.com"%>
					    <th></th>
					    <% end %>
					    <% end %>
					
					  </tr>
					
					<% @books.each do |book| %>
					 <% if book.userName == nil || book.userName == "" %>
					  <tr>
					    <td><%= book.bookTitle %></td>
					    <td><%= book.author %></td>
					    <td><%= book.bookDescription %></td>
					    <td><%= book.isbn %></td>
					    
					    <% if current_user.email == "user@cloud.com"%>
					    <td><%= link_to 'Check Out', edit_book_path(book) %></td>
					    
					    <% elsif current_user.email == "admin@cloud.com"%>
					    <td><%= link_to 'Edit', edit_book_path(book) %></td>
					    <% else %>
					    <td><%= link_to 'Edit', edit_book_path(book) %></td>
					    <% end %>
					   <% if current_user%>
					    <% if current_user.email == "admin@cloud.com"%>
					    <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
					  	<% end%>
					  <% end%>
					  </tr>
					<% end%>
					<% end%>
					</table>
				</div>
			</div>
			<div id="mainContent-right">
				<h2>What would you like to do?</h2>
				<ul>
					<li><%= link_to 'View your Dashboard', dashboards_path%></li>
				</ul>
			</div>
			
		</div>



