


<% if current_user%>
<% if current_user.email == "user@cloud.com"%>
<script type="text/javascript">
    window.location.href="/books"  // put your correct path in a string here
  </script>
<%end%>
<div id="headerContentBottom">
					<h1>My Dashboard</h1>
					<h3>New Book Confimation</h3>
				</div>
			</div>
		</div>	
		<div id="mainContent">
			<div id="mainContentTop">
				<p>Confirmation of details... </p>
			</div>
			<div id="mainContentBottom">
				<p id="notice"><%= notice %></p>

<p>
  <b>Booktitle:</b>
  <%= @book.bookTitle %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Bookdescription:</b>
  <%= @book.bookDescription %>
</p>

<p>
  <b>Isbn:</b>
  <%= @book.isbn %>
</p>

<p>
  <b>Username:</b>
  <%= @book.userName %>
</p>

<p>
  <b>Signoutdate:</b>
  <%= @book.signOutDate %>
</p>

<p>
  <b>Duedate:</b>
  <%= @book.dueDate %>
</p>

<p>
  <b>Latefee:</b>
  <%= @book.lateFee %>
</p>

<p>
  <b>category:</b>
  <%= @book.category %>
</p>

<p>
  <b>Onhold:</b>
  <%= @book.onHold %>
</p>

<p>
  <b>Overdue:</b>
  <%= @book.overDue %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

			</div>
			
		</div>


<% else%>
<script type="text/javascript">
    window.location.href="/sessions/new"  // put your correct path in a string here
  </script>
<%end%>
