<% if current_user%>
<% if current_user.category==2%>
<script type="text/javascript">
    window.location.href="/books"  // put your correct path in a string here
  </script>
<%end%>
<p id="notice"><%= notice %></p>

<p>
  <b>Booktitle:</b>
  <%= @book.bookTitle %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Bookdescription:</b>
  <%= @book.bookDescription %>
</p>

<p>
  <b>Isbn:</b>
  <%= @book.isbn %>
</p>

<p>
  <b>Username:</b>
  <%= @book.userName %>
</p>

<p>
  <b>Signoutdate:</b>
  <%= @book.signOutDate %>
</p>

<p>
  <b>Duedate:</b>
  <%= @book.dueDate %>
</p>

<p>
  <b>Latefee:</b>
  <%= @book.lateFee %>
</p>

<p>
  <b>Category:</b>
  <%= @book.category %>
</p>

<p>
  <b>Onhold:</b>
  <%= @book.onHold %>
</p>

<p>
  <b>Overdue:</b>
  <%= @book.overDue %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
<% else%>
<script type="text/javascript">
    window.location.href="/sessions/new"  // put your correct path in a string here
  </script>
<%end%>
